.image-container {
  position: relative; /* Ensure position relative for absolute positioning of buttons */
  display: flex;
  overflow-x: hidden; /* Hide default scrollbar */
  width: 100%;
  white-space: nowrap;
  padding: 40px;
}
.heading {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
  color: #0c0b0b; /* Darker color for the text */
  font-family: "Arial", sans-serif; /* Choose a suitable font-family */
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
}
.aboutheading {
  text-align: center;
  margin-top: 10px; /* Adjust as needed */
  color: #0c0b0b; /* Darker color for the text */
  font-family: "Arial", sans-serif; /* Choose a suitable font-family */
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  margin-top: 0;
}

.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
  max-height: 600px; /* Set a maximum height for the container */
  overflow-y: auto;
}

.places img {
  width: 380px;
  height: 280px; /* Adjust the height as needed */
  margin: 10px;
  border-radius: 10%; /* Make the images oval */
  border: 7px solid #f1e0e0; /* Add a border around the images */
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
  cursor: pointer; /* Change cursor to hand shape */
}

.places img:hover {
  transform: translateX(20px) translateY(-20px); /* Move the image 20px to the right and 20px up when hovering */
}

.image-with-name {
  position: relative;
  display: inline-block;
  align-items: center; /* Align items vertically */
}

.place-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5); /* Optional: Add background color */
  padding: 5px; /* Optional: Add padding */
  font-weight: bold; /* Make the text bold */
}
.image-container img {
  flex: 0 0 auto;
  width: 600px;
  height: 400px;
  margin-right: 25px;
}
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
}

.about-frame {
  background-color: #d6d3d3d8; /* Background color for the frame */
  padding: 20px; /* Padding for the frame */
  margin: 20px 0; /* Margin for spacing */
  border-radius: 10px; /* Rounded corners for the frame */
}
.learn-more-link {
  text-align: center;
  font-weight: bold; 
  color: #090cdb;
  font-size: 16px;
}

.learn-more-link:hover {
  background-color: rgb(168, 166, 166); 
  
}

.aboutheading {
  font-family: Arial, sans-serif; /* Font family for the heading */
  font-size: 24px; /* Font size for the heading */
  font-weight: bold; /* Bold font weight for the heading */
  color: #333; /* Text color for the heading */
  text-align: center; /* Center alignment for the heading */
}

.about-text {
  font-family: sans-serif; /* Font family for the paragraph */
  font-size: 16px; /* Font size for the paragraph */
  color: #444343; /* Text color for the paragraph */
  line-height: 1.8; /* Line height for better readability */
  font-weight: bold; 
}
.aboutBangkok-text {
  font-family: sans-serif; /* Font family for the paragraph */
  font-size: 16px; /* Font size for the paragraph */
  color: #444343; /* Text color for the paragraph */
  line-height: 1.8; /* Line height for better readability */
  font-weight: bold; 
}

.package-image-container {
  position: relative; /* Ensure position relative for absolute positioning of buttons */
  display: flex;
  overflow-x: hidden; /* Hide default scrollbar */
  width: 100%;
  white-space: nowrap;
  padding: 20px;
  
}

.package-image-container img {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  margin-right: 30px;
  border-radius: 15px; /* Rounded corners for the frame */
  cursor: pointer; /* Change cursor to hand shape */
}

/* Add hover effect to scale the image */
.package-image-container img:hover {
  transform: scale(1.07); /* Increase size by 5% */
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); /* Add transition for smooth scaling */
}

.scroll-button {
  /* Your existing styles */
  font-size: 50px; /* Adjust the font size as needed */
}

.scroll-button.prev {
  left: 0;
}

.scroll-button.next {
  right: 0;
}
.home-container {
  padding: 10px;
}

.bangkok-container {
  padding: -10px;
}

.section {
  margin-bottom: 60px;
  border: 1px solid #ccc; /* Add border around each section */
  border-radius: 40px; 
  padding: 5px; /* Add padding to create space between content and border */
 
}
.package-image-container {
  margin-top: 20px; /* Adjust as needed */
  overflow: hidden; /* Hide overflow to prevent scrollbars */
}
.image-container-packages .images {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}

.image-container-packages .image-description {
  margin-top: 5px; /* Adjust as needed for spacing */
  font-size: 14px; /* Adjust as needed for font size */
  text-align: center; /* Center align the description */
  margin-right: 25px;
  font-weight: bold; /* Add this line to make the text bold */
}
.image-container-packages .image-description div {
  color: blue;
}
.image-container {
  position: relative;
}

.price-frame {
  position: absolute;
  top: 10px;
  right: -20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 3px solid #ccc;
  margin-left: 20px; 
}

.price-frame p {
  margin: 0;
  font-family: sans-serif; /* Font family for the paragraph */
  font-size: 10 px; /* Font size for the paragraph */
  color: #444343; /* Text color for the paragraph */
  line-height: 1.8; /* Line height for better readability */
}
.price {
  margin: 0;
  font-weight: normal;
  color: #333; /* Change color as desired */
  font-size: 20px;
  text-align: center;
}

input[type="date"] {
  margin-top: 1px;
  padding: 8px;
  border: 5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: #e90505;
  width: 100%; /* Set width to fill its container */
  max-width: 400px; /* Set maximum width as needed */
  font-size: 20px; /* Adjust the font size as needed */
}

.date-label {

  font-style: sans-serif;
  color: #666; /* Change color as desired */
  font-weight: bold; 
  text-align: center;
}
.people-selection {
  display: flex;
  justify-content: space-between;
}
.person-container {
  display: flex;
  flex-direction: column;
}
.increment-decrement button {
  margin: 0 5px;
  padding: 1px 8px; /* Adjust padding as needed */
  font-size: 20px; 
  border-radius: 7px; 
}
.increment-decrement {
  display: flex;
  align-items: center;
}

.calculate-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 50px;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.selection-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.detail-item {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-container {
  display: flex;
  align-items: center;
}

.payment-container p {
  margin-right: 100px; /* Adjust as needed for spacing */
}


.payment-container p span {
  margin-left: 500px; /* Adjust as needed */
  margin-top: -10px;
}

.total-amount {
  margin-top: 10px;
  margin-left: 720px
}

.payment-container-price {
  margin-right: 10px; /* Adjust as needed */
  margin-top: -100px;
}
.pay-now-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove button border */
  border-radius: 5px; /* Button border radius */
  cursor: pointer; /* Cursor style */
  font-size: 16px; /* Button font size */
}

/* CSS for the button container */
.payment-container-button {
  margin-top: -30px; /* Adjust the value as needed */
  margin-left: 115px;
}

.buttonCheckout {
  margin-top: 10px; /* Adjust the value as needed */
  margin-right: 50px;
}
.buttonCheckout {      
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 10px; /* Button padding */
  border: none; /* Remove button border */
  border-radius: 5px; /* Button border radius */
  cursor: pointer; /* Cursor style */
  font-size: 16px; /* Button font size */
}

.inputField {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  /* Add more styles as needed */
}

.search-bar {
  display: flex;
  justify-content: right; /* Horizontally center the content */
  
}

input[type="text"] {
  border: none;
  outline: none;
  width: 100%; /* Adjust as needed */
}
.search-container {
  display: flex;
  align-items: flex-start; /* Adjust alignment to flex-start to move the search bar up */
  margin-top: -15px; /* Adjust margin-top to move the search bar further up */
  margin-right: 450px; 
  
}
.search-wrapper {
  width: 500px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* Example border for the search bar */
  border-radius: 50px; /* Example border radius for the search bar */
  padding: 10px; /* Example padding for the search bar */
  margin-left: auto; /* Move the input to the right */
}
.fa-search {
  margin-left: 5px; /* Adjust as needed */
}
.input-wrapper {
  width: 570px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* Example border for the search bar */
  border-radius: 50px; /* Example border radius for the search bar */
  padding: 15px; /* Example padding for the search bar */
  margin-left: auto; /* Move the input to the right */
}

.input-wrapper input[type="text"] {
  border: none;
  outline: none;
  width: 100%; /* Adjust as needed */
}



/* Adjusting header styles for smaller screens */
@media (max-width: 768px) {
  .header-content {
      flex-direction: column; /* Stack items vertically */
      align-items: flex-start; /* Align items to the start */
  }

  
}

/* Adjusting nav links for smaller screens */
@media (max-width: 768px) {
  .nav-links {
      flex-direction: column; /* Stack links vertically */
      align-items: center; /* Align links to the center */
  }

  .nav-link {
      margin-right: 0; /* Reset margin */
      margin-bottom: 10px; /* Add bottom margin for spacing */
  }
}

.description {
  display: flex;
  flex-direction: column;
}

.description input {
  margin-bottom: 10px; /* Adjust the margin as needed for spacing */
}


