/* Roots.css */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.header {
    position: relative; /* Ensure the parent container is relatively positioned */
}

.header:after {
    content: ""; 
    position: absolute; 
    width: 100%; /* Ensure the line spans the entire width of the container */
    height: 1px; /* Adjust the height of the line as needed */
    background-color: #ccc; /* Adjust the color of the line as needed */
    bottom: 15px; /* Move the line up by adjusting the bottom value */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Add this style to move the image up */
.image-container img {
    margin-top: -10px; /* Adjust as needed to move the image up */
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); /* Add transition for smooth scaling */
    cursor: pointer; /* Change cursor to hand shape */
    border-radius:3%; 
}

.nav-links {
    display: flex;
    flex-direction: row; /* Ensures the links are displayed horizontally */
}

.nav-link {
    text-decoration: none;
    color: #ca1f1f;
    margin-right: 20px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: none; /* Add underline on hover if desired */
    background-color: lightgray; 
    
}

.form-field {
    position: relative;
    display: inline-block;
  }
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* Add hover effect to scale the image */
.image-container img:hover {
    transform: scale(1.07); /* Increase size by 5% */
}

/* Adjusting header styles for smaller screens */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
    }

    
}

/* Adjusting nav links for smaller screens */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column; /* Stack links vertically */
        align-items: center; /* Align links to the center */
    }

    .nav-link {
        margin-right: 0; /* Reset margin */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }
}

  


